@page
@model IndexModel
@{
    ViewData["Title"] = "ProVision Takehome";
}

<h1>Program Versions</h1>

        @foreach (var version in Model.ProgramVersions)
        {
            <div> @version.Key  --  @version.Value </div>
        }
