@page
@model IndexModel
@{
    ViewData["Title"] = "ProVision Takehome";
}

<h2>Program Versions</h2>

<div>
    @foreach (var version in Model.ProgramVersions)
    {
        <div><b>@version.Key</b> --- @version.Value</div>
    }
</div>
